// COLORS
// theme link: https://coolors.co/b56576-97dffc-613dc1-4e148c-2c0735
$color_primary: #613dc1;
$color_primary_dark: #4e319a;
$color_primary_light: #8164cd;
$color_secondary: #4e148c;
$color_secondary_dark: #46127e;
$color_secondary_light: #602c98;
$color_tertiary: #2c0735;
$color_tertiary_dark: #1f0525;
$color_tertiary_light: #412049;
$color_contrast: #97dffc;
$color_contrast_dark: #88c9e3;
$color_contrast_light: #ace5fd;
$color_secondary_contrast: #b56576;
$color_secondary_contrast_dark: #91515e;
$color_secondary_contrast_light: #d57694;
$color_light: #f0ffff;
$color_dark: darken(#181818, 5%);
$color_white: $color_light;
$color_black: $color_dark;
